"*":
  "atomic-emacs":
    killToClipboard: false
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "intentions"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 18
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "ember-cli-helper":
    generateFromBlueprint: false
  "exception-reporting":
    userId: .............
  "fuzzy-finder":
    preserveLastSearch: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  linter:
    lintOnChange: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-ui-default":
    panelHeight: 113
    showPanel: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "minimap-linter": {}
  "minimap-selection":
    outlineSelection: true
  pigments: {}
  "split-diff":
    turnOffSoftWrap: true
  welcome:
    showOnStartup: false
